@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Lusitana:wght@400;700&display=swap');

:root {
  --bg-fondo: #26B0B1;
  --bg-tarjeta: #695611;
  --black: #111636;
  --white: #fbfbfe;
  --main-fondo: #bbd3bc;
  --blue: #49adf0;
  --main-fondo-2: #e5e5f7;
  --error: #ffb6c1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales */
html {
  scroll-behavior: smooth;
}

h1,
h2 {
  font-family: 'Pilowlava-Atome', cursive;
}

h3,
h4,
h5,
h6 {
  font-family: 'Lemon', serif;
}

p {
  font-family: "Lusitana", serif;
  font-weight: 400;
  text-wrap: pretty;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  border-radius: 0.9em;
  cursor: pointer;
  padding: 0.8em 1em;
  transition: all ease-in-out 0.2s;
  font-size: .88rem;
}

button:hover {
  opacity: 0.3;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.col {
  flex-direction: column;
}

/* Header  */
.header {
  background: var(--bg-fondo);
}

.header--section {
  justify-content: space-between;
  padding: 1rem;
}

.header__nombre {
  padding: 1.8rem 2.5rem;
  gap: 2rem;
}

.header__logo {
  border-radius: 50%;
}

.header__tabs {
  gap: 1.25rem;
}

.tabs {
  position: relative;
}

.tabs::before {
  content: attr(data-tabs);
  position: absolute;
  left: 50%;
  bottom: 200%;
  padding: 0.85rem;
  transform: translateX(-50%);
  background-color: var(--bg-tarjeta);
  color: var(--white);
  font-size: .7rem;
  border-radius: .5rem;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
  visibility: visible;
}

.tabs::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 60%;
  transform: translateX(-50%);
  border-width: 1rem;
  border-style: solid;
  border-color: var(--bg-tarjeta) transparent transparent transparent;
  opacity: 0;
  transition: opacity 0.2s;
  visibility: hidden;
}

.tabs:hover::before,
.tabs:hover::after {
  opacity: 1;
  visibility: visible;
}

.header__hero {
  padding: 1.5rem;

  .header--p {
    text-align: center;
    opacity: 0.3;
    max-width: 550px;
    padding: 1.2rem;
  }

  .header__titulo {
    font-size: 2.5rem;
  }
}

/* Main */
.main__fondo {
  background-color: var(--white);
  opacity: 0.7;
  background: repeating-linear-gradient(45deg, var(--main-fondo), var(--main-fondo) 5px, var(--main-fondo-2) 5px, var(--main-fondo-2) 25px);
}

.sec__main {
  justify-content: space-between;
  max-width: 980px;
}

.main__aside {
  gap: 1rem;
  align-items: stretch;
}

.main__apartado {
  justify-content: space-between;
  gap: 1.2rem;
}

.main__titulo {
  text-align: center;
  padding: 1.25rem;
  color: var(--bg-tarjeta);
}

.main__apartado__aside {
  gap: 1.2rem;
}

.main__apartado__aside--p {
  width: 100%;
  padding: 0.7rem 2.5rem;
  border: 1px solid var(--black);
}

.main__apartado__section {
  background: var(--bg-fondo);
  border-top-right-radius: 0.75rem;
  z-index: 1;
}

.main__titulo--h4 {
  padding: 0.5rem 0.9rem;
}

.main__apartado__fecha,
.main__apartado__parrafo {
  font-size: 0.9rem;
  padding: 0.3rem 1.2rem;
}

.main__apartado__cuadro {
  z-index: 2;
  background: var(--white);
  border-bottom-left-radius: 0.75rem;
}

.main__apartado__education {
  border-bottom-left-radius: 0.75rem;
  border: 1px solid var(--bg-tarjeta);
}

.main__titulo--h6 {
  font-size: 0.65rem;
  padding: 0rem 1.2rem;
}

.main__article {
  padding: 2rem;
}

.main__resena {
  gap: 3rem;
  border-radius: 0.75rem;
  background-color: var(--bg-fondo);
  flex-wrap: wrap;
}

.tarjeta {
  width: 250px;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--bg-tarjeta);

  h4 {
    font-size: 16px;
    color: var(--bg-fondo);
  }

  p {
    font-size: 12px;

    em {
      opacity: 0.3;
    }
  }

  img {
    max-width: 5rem;
    border-radius: 1rem;
  }
}

.footer {
  padding: 1rem;
  background: var(--bg-fondo);

  p {
    width: 50%;
  }
}

/* PROYECTO */
.main__cards {
  padding: 1rem;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 2rem;
}

.main__card {
  padding: 0 0.5rem;
  max-width: 350px;
  border: 1px solid var(--bg-fondo);
  justify-content: space-between;
}

.card--img {
  padding-top: 0.5rem;

  img {
    width: 100%;
    border-radius: 1rem;
  }
}

.card--ol {
  padding-left: 0.9rem;
}

/* ARTICULO */
.articulo {
  margin: 1.2rem 0;
}

.btn-articulo {
  margin: 0.5rem 0.9rem;
  background-color: var(--bg-fondo);
}

/* CONTACTO */
.main__form {
  align-items: stretch;
  gap: 3rem;
}

.input,
textarea {
  padding: 0.5rem;
  border: 1px solid var(--bg-fondo);
  border-radius: 0.5rem;
}

.input:focus,
textarea:focus {
  outline: none;
  border: 2px dotted var(--blue);
}

.input[type="email"]:focus:invalid {
  background-color: var(--error);
}

.error {
  color: var(--error);
  font-size: 0.75rem;
  display: none;
}

input:invalid+.error {
  display: block;
}

.btn-contacto {
  background-color: var(--blue);
}

.info__contacto {
  justify-content: start;
  width: 250px;

  .info__contacto--section {
    margin-left: 2rem;
    align-items: start;
  }

  .fa-solid,
  p {
    color: var(--blue);
  }
}

.fa-solid,
.fa-brands {
  font-size: 2rem;
}

.contacto__map {
  margin: 1.5rem 0;

  iframe {
    width: 768px;
    border: none;
    height: 200px;
  }
}

.info__contacto--footer {
  gap: 1.2rem;
  padding-top: .5rem;

  .fa-brands {
    color: var(--bg-fondo);
  }
}

@font-face {
  font-family: 'Pilowlava-Atome';
  src: url(../fonts/Pilowlava-Atome.woff2) format('woff2');
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--white);
    background: var(--black);
  }

  .main__titulo {
    color: var(--bg-fondo)
  }

  .main__titulo--h4 {
    color: var(--black);
  }

  .main__apartado__cuadro {
    background: var(--black);

  }
}

@media (max-width: 768px) {
  .header--section,
  .header__nombre {
    flex-direction: column;
  }

  .header__tabs {
      padding-top: 1.75rem;
  }

  .sec__main {
    width: 90%;
  }

  .main__aside,
  .main__resena {
    flex-wrap: wrap;
  }

  .contacto__aside {
    flex-direction: column;

    .contacto--aside {
      margin: 1.5rem 0;
    }
  }

  .contacto__map {
    iframe {
      width: 90%;
    }
  }
}