@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Lusitana:wght@400;700&display=swap');

:root {
  --bg-fondo: #26B0B1;
  --bg-tarjeta: #695611;
  --black: #111636;
  --white: #FBFBFE;
  --green: #00FF00;
  --blue: #49adf0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales */
html {
  scroll-behavior: smooth;
}

h1,
h2 {
  font-family: 'Pilowlava-Atome', cursive;
}

h3,
h4,
h5,
h6 {
  font-family: 'Lemon', serif;
}

p {
  font-family: "Lusitana", serif;
  font-weight: 400;
  text-wrap: pretty;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
    border: none;
    border-radius: 0.9em;
    cursor: pointer;
    padding: 0.8em 1em;
    transition: all ease-in-out 0.2s;
    font-size: .88rem;
  }

button:hover {
opacity: 0.3;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.col {
  flex-direction: column;
}

/* Header  */
.header {
  background: var(--bg-fondo);
}

.header--section {
  justify-content: space-between;
  padding: 0rem 1rem;
}

.header__nombre {
  padding: 1.8rem 2.5rem;
  gap: 2rem;
}

.header__logo {
  border-radius: 50%;
}

.header__tabs {
  gap: 1.25rem;
}

.header__hero {
  padding: 1.5rem;

  .header--p {
    text-align: center;
    opacity: 0.3;
    max-width: 550px;
    padding: 1.2rem;
  }

  .header__titulo {
    font-size: 2.5rem;
  }
}

/* Main */
.sec__main {
  justify-content: space-between;
  max-width: 980px;
}

.main__aside {
  gap: 1rem;
  align-items: stretch;
}

.main__apartado {
  justify-content: space-between;
  gap: 1.2rem;
}

.main__titulo {
  text-align: center;
  padding: 1.25rem;
  color: var(--bg-tarjeta);
}

.main__apartado__aside {
  gap: 1.2rem;
}

.main__apartado__aside--p {
  width: 100%;
  padding: 0.7rem 2.5rem;
  border: 1px solid var(--black);
}   

.main__apartado__section {
    background: var(--bg-fondo);
    border-top-right-radius: 0.75rem;
    z-index: 1;
}

.main__titulo--h4 {
  padding: 0.5rem 0.9rem;
}

.main__apartado__fecha,
.main__apartado__parrafo {
      font-size: 0.9rem;
      padding: 0.3rem 1.2rem;
}
    
.main__apartado__cuadro {
  z-index: 2;
  background: var(--white);
  border-bottom-left-radius: 0.75rem;
}

.main__apartado__education {
    border-bottom-left-radius: 0.75rem;
    border: 1px solid var(--bg-tarjeta);
}
    
.main__titulo--h6 {
      font-size: 0.65rem;
      padding: 0rem 1.2rem;
}

.main__article {
  background-color: var(--white);
  padding: 2rem;
}

.main__resena {
  gap: 5rem;
  border-radius: 0.75rem;
  background-color: var(--bg-fondo);
}

.main__resena--section {
  background-color: var(--bg-tarjeta);
  gap: 1rem;
}

.footer {
  padding: 1rem;
  background: var(--bg-fondo);
  p {
    width: 50%;
  }
}

/* PROYECTO */
.main__cards {
  padding: 1rem;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 2rem;
}

.main__card {
  padding:  0 0.5rem;
  max-width: 350px;
  border: 1px solid var(--bg-fondo);
}

.card--ol {
  padding-left: 0.9rem;
 }

/* ARTICULO */
.articulo {
  margin: 1.2rem 0;
}

.btn-articulo {
  margin: 0.5rem 0.9rem;
  background-color: var(--green);
}

/* CONTACTO */
.main__form {
  align-items: stretch;
  gap: 2rem;
}

.input, textarea {
  padding: 0.5rem;
  border: 1px solid var(--bg-fondo);
  border-radius: 0.5rem;
}

.btn-contacto {
  background-color: var(--blue);
}

.info__contacto {
  justify-content: start;
  max-width: 350px;
  border: 1px solid red;
  i, p{
   color: var(--blue);
  }
}

iframe {
  width: 768px;
  border:none;
  max-height: 160px;
}

@font-face {
  font-family: 'Pilowlava-Atome';
  src: url(../fonts/Pilowlava-Atome.woff2) format('woff2');
}

/* @media (prefers-color-scheme: dark) {
 body {
  color: var(--white);
  background: var(--black);
  }
  .main-titulo{
    color: var(--bg-fondo)
  }
  .main-apartado-parrafo{
    color: var(--bg-tarjeta)
  }
} */


@media (max-width: 768px) {
  .header-section {
    flex-direction: column;
  }

  .main {
    flex-wrap: wrap;
  }

  .main-section {
    flex-wrap: wrap;
  }
}